.left-tab {
  grid-area: left;
}

.center-tab {
  grid-area: center;
}

.right-tab {
  grid-area: right;
}

.left-tab:hover img, .center-tab:hover img, .right-tab:hover img {
  opacity: 0.2
}

.order-of-reunion-container {
  display: grid;
  grid-template-areas:
    'left center right';
}
